<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The base address on which the pfSense server is available, i.e. https://192.168.0.1 -->
    <add key="pfSenseBaseAddress" value="https://192.168.0.1" />

    <!-- The username to use to authenticate to pfSense -->
    <add key="pfSenseUsername" value="user" />

    <!-- The password to use to authenticate to pfSense -->
    <add key="pfSensePassword" value="password" />
  </appSettings>
</configuration>